<div class="main-content">
  <div class="container-fluid">
    <div class="row container">
      <div class="col-md-8" style="padding-top: 120px;">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Login SCA</h4>
            <p class="card-category">Inicio de sesion</p>
          </div>
          <div class="card-body container-form-login">
            <form [formGroup]="loginForm">
              <div class="row">
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Ingrese Usuario" formControlName="username" />
                  </mat-form-field>
                </div>
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="Ingrese Password" formControlName="password" />
                  </mat-form-field>
                </div>
                <div class="col-sm-4">
                  <button mat-raised-button type="submit" class="btn btn-danger pull-left" (click)="login()" [disabled]="loginForm.invalid">
                    Iniciar sesion
                  </button>
                </div>
              </div>
              <div *ngIf="noValidos">
                <label style="color: red;"> Usuario o Contraseña invalidos</label>
              </div>

              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
